@import './colors.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: var(--color-background-light);
  color: var(--color-text-light);
}

/* Ejemplo de uso de las variables de color */
.bg-violet-900 {
  background-color: var(--color-primary);
}

.bg-violet-700 {
  background-color: var(--color-primary-hover);
}

.bg-gray-900 {
  background-color: var(--color-background-light);
}

.text-white {
  color: var(--color-text-light);
}

body.dark-mode {
  background: var(--color-background-dark);
  color: var(--color-text-dark);
}

/* Colores específicos para los botones */
.button-light {
  background-color: var(--button-bg-light);
  color: white;
}

.button-light:hover {
  background-color: var(--button-bg-hover-light);
}

.button-dark {
  background-color: var(--button-bg-dark);
  color: rgb(7, 212, 17);
}

.button-dark:hover {
  background-color: var(--button-bg-hover-dark);
}

/* COLORES DE TITULOS*/

h1{
  color: var(--title-color-light);
}

body.dark-mode h1{
  color: var(--title-color-dark);
}


h2{
  color: var(--title2-color-light);
}

body.dark-mode h2 {
  color: var(--title2-color-dark);
}


h3{
  color: var(--title3-color-light);
}

body.dark-mode h3 {
  color: var(--title3-color-dark);
}

/* COLORES DE DIVS*/

.nav-div {
  background-color: var(--navdiv-bg-light);
  color: var(--color-text-light);
}

body.dark-mode .nav-div {
  background-color: var(--navdiv-bg-dark);
  color: var(--color-text-dark);
}


.post-div {
  background-color: var(--postdiv-bg-light);
  color: var(--color-text-light);
}

body.dark-mode .post-div {
  background-color: var(--postdiv-bg-dark);
  color: var(--color-text-dark);
}


.login-div {
  background-color: var(--logindiv-bg-light);
  color: var(--color-text-light);
}

body.dark-mode .login-div {
  background-color: var(--logindiv-bg-dark);
  color: var(--color-text-dark);
}


/* Estilos Imputs */
.input-style {
  background-color: var(--input-bg-light);
  color: var(--input-text-light);
  border: 1px solid var(--input-border-light);
}

.input-style:focus {
  border-color: var(--input-focus-light);
}

body.dark-mode .input-style {
  background-color: var(--input-bg-dark);
  color: var(--input-text-dark);
  border: 1px solid var(--input-border-dark);
}

body.dark-mode .input-style:focus {
  border-color: var(--input-focus-dark);
}

/* Estilos sidebar-menu */

.sidebar-menu {
  width: 300px;
  padding: 20px;
  height: 100vh;
  position: fixed;
  top: 100;
  left: 0;
  
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1); /* Sombra en el lado derecho */
}

.sidebar-menu h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.sidebar-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 16px;
}

/* Ajuste de estilos para el contenido principal */

.main-content {
  padding: 20px;
  margin-left: 300px; /* Ancho del menú lateral */
}

.main-container {
  display: flex;
}

.content-container {
  flex-grow: 1;
  padding: 20px;
  margin-left: 300px; /* Ancho del menú lateral */
  transition: margin-left 0.3s ease; /* Agregamos una transición para suavizar el cambio */
}

.post-div {
  margin-bottom: 20px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .main-container {
    flex-direction: column; /* Cambia la dirección del eje principal a columna */
  }

  .sidebar-menu {
    width: 100%;
    max-width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    box-shadow: none; /* Elimina la sombra en pantallas más pequeñas */
  }

  .main-content {
    margin-left: 0; /* Elimina el margen izquierdo en pantallas más pequeñas */
  }

  .content-container {
    margin-left: 0; /* Asegura que no haya margen izquierdo en pantallas más pequeñas */
  }
}
